.high {
    color: red;
}

.low {
    color: forestgreen;
}

.middle {
    color: orange;
}


.button {
    background-color: forestgreen;
    width: 78px;
    margin: 5px;
}

.item {
    width: 100px;
    margin: 10px;
}

.flex {
    display: flex;
}

.button:active {
    background-color: darkgreen;
}

.activeFilter {
    background-color: lightgreen;
    width: 78px;
    margin: 5px
}