.someClass {

}

.error {
    border: 1px solid red;
    outline: none;
    background-color: lightcoral;
}

.redText {
    color: red;
    height: 50px;
}


.normal {
    outline: none;
    background-color: darkgreen;
    color: lightgreen;
}

.addButton{
    background-color: forestgreen;
}
.addButton:disabled{
    background-color: #5f705e;
}